/*Tema generale del progetto*/

body
{
    background-color: rgba(35, 18, 184, 0.883);
    font-family: Verdana, Geneva, sans-serif;
    overflow: auto;
    
}
.barraSup
{

    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}
  

.barraSup a 
{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
  

.barraSup a:hover
{
    background-color: #ddd;
    color: black;
}
  
.barraSup a.active 
  {
    background-color: #04AA6D;
    color: white;
}

#pagina
{

    background-color: white;
    padding: 20px 30px 30px 30px;
    border-radius: 10px; /* Bordi smussati */
    margin: 10% 10% 10% 33%;
    top: 10%;
    left: 25%;
    width: 35%; 
}
#logo 
{
    margin-left: 12%;
    margin-right: 21%;
    padding-bottom: 10 px;
}


select {
    background-color: #D2D2D2;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 5px;
}

input[type=text] {
    border-radius: 5px;
    background: #D2D2D2;
    width: 70%;
    border: 0;
    padding: 10px 10px;
    margin-top: 10px;
    right: 10%;
    text-transform: uppercase;
  }


input[type=password] {
    border-radius: 5px;
    background: #D2D2D2;
    border: 0;
    padding: 10px 10px;
    width: 70%;
    right: 10%;
    margin-top: 10px;
    text-transform: uppercase;
}


input[type=submit]{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 50%;
    border: 0;
    background-color: rgb(246, 6, 6);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 10px;   
}
input[list]{
    border-radius: 5px;
    background: #D2D2D2;
    width: 70%;
    border: 0;
    padding: 10px 10px;
    margin-top: 10px;
    right: 10%;
    text-transform: uppercase;
}

.navbar {

    background-color: #f2f2f2;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    height: 6.5%;

}

.navbar img {
    width: 8%;
    float: left;
}

.navbar a {
    float: left; 
    color: black;
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding-top: 0.15%;
    padding-left: 0.5%;
    margin-right: -30%;
}

#btnlogout{
    height: 85%;
    width: 10%; 
    position: absolute; 
    left: 89%;
    background-color: rgb(246, 6, 6);
    border-radius: 10px; /* Bordi smussati */  
}

#btnAccount{
    height: 85%;
    width: 7%; 
    position: absolute; 
    left: 5%;
    background-color: rgb(246, 6, 6);
    border-radius: 10px; /* Bordi smussati */  
}

.navbar a:hover{
    background: #ddd;
    color: black;
    height: 90%;

}

.profilo #pagina{
    width: 40%; 
}